<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      
      {% assign links = site.data.menu %}
      {% for link in links %}
        {% if link.url %}
            {% assign use_url = link.url %}
        {% else %}
            {% assign use_url = page.url %}
        {% endif %}
      
        {% if link.sublinks %}
          <div class="dropdown">
              <a class="sidebar-nav-item" href=#>{{ link.title }}</a>
              <div class="dropdown-content">
              {% for sublink in links.sublinks %}
                <a class="sidebar-navi-item{% if link.url == page.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
              {% endfor %}
              </div>
          </div>
        {% else %}
          <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}

      <span class="sidebar-nav-item">Currently v{{ site.version }}. Made with <a href="https://github.com/poole/poole">Poole</a></span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
