---
---

@import "{{ site.theme }}";

.wrapper { 
	width: 1060px;
}

header, footer {
	width: 360px;
	font-size: 18px;
}

hr { color: green; }

.toc {
	text-align: end;
}

section {
	font-size: 16px;
	width: 580px;
}

.article {
	padding-left: 2em;
	text-indent:-2em;
}
